# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store

# Model artifacts (optional depending on size)
*.pkl
*.joblib

# Logs
*.log
